body {
	
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: center;
	background-color: black;
}

.green0 {
	background-image: url("img/pres1.jpg");
	background-size: 100% 100%; 
	background-repeat: no-repeat;
}
.green1 {background-image: url("img/founder1.jpg");
background-size: 100% 100%; 
background-repeat: no-repeat;
}
.green2  {background-image: url("img/founder2.jpg");
background-size: 100% 100%; 
background-repeat: no-repeat;
}
.green3 {background-image: url("img/founder3.jpg");
background-size: 100% 100%; 
background-repeat: no-repeat;
}
.green4 {background-image: url("img/pres2.jpg");
background-size: 100% 100%; 
background-repeat: no-repeat;
}
.green5 {background-image: url("img/founder4.jpg");
background-size: 100% 100%; 
background-repeat: no-repeat;
}
.green6 {background-image: url("img/founder5.jpg");
background-size: 100% 100%; 
background-repeat: no-repeat;
}
.green7 {background-image: url("img/founder6.jpg");
background-size: 100% 100%; 
background-repeat: no-repeat;
}
.green8 {background-image: url("img/founder7.jpg");
background-size: 100% 100%; 
background-repeat: no-repeat;
}
.column-1 {
	height: 100vh;
	width: 100vw;
}
@media screen and (min-width: 1000px){
.column-2 {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	width: 1075px;
}
.center-horizontal {
	display: flex;
	align-items: center;
}
.center-vertical {
	display: flex;
	justify-content: center;
	height: inherit;
}
.box {
	height: 33%;
	width: 33%;
}
}
@media screen and (max-width: 999px){

.column-2 {
	height: 100vh;
	width: 100vw;
	display: block;
}
.box {
	height: 80%;
	width: 100%;
}

